body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b17ff0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #d377f5;
    cursor: pointer;
}

.restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1a0a2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.restart-button:hover {
    background-color: #1c1130;
}